
body{
    margin: 0; 
    min-height: 100vh;
    background-image: url("./img/img_7.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;  
}
h1{
    margin: 0;
    font-family:cursive;
    padding-left: 10px;
    font-size: 20px;
    color: rgb(27, 102, 57);
}
th,tr{
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
}
table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius:15px;
    margin-bottom: 5px;
    border: 1px solid  rgb(16, 133, 168);
}
input{
    background-color: aliceblue;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:5px;
    border-color:  rgb(16, 133, 168);
    margin-bottom: 5px;
    width: 250px;
    height: 20px;
    font-family:cursive;
}
button{
    background-color: aliceblue;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:5px;
    border-color:  rgb(16, 133, 168);
    margin-bottom: 5px;
    width: 80px;
    cursor: pointer;
}
i{
    color: rgb(16, 133, 168);  
    padding-left: 5px; 
}
h3{
    font-family:cursive;
    color: rgb(30, 53, 38);
    margin: 0;
    padding: 10px;
    cursor:context-menu;
}
h3:hover{
    transform: scale(1.05);
}
h4{
    font-family:cursive;
    margin-top: 12px;
    margin-bottom: 10px;
    color: rgb(77, 78, 78);
}
strong{
    font-size: 22px;
    font-family:cursive;
    color: rgb(6, 26, 14);
    /* font-style: italic; */
    /* margin: 10px 10px 10px 10px; */
}
ul{
    padding-left: 30px;
}
.btnB{
    font-family:cursive;
    color: rgb(6, 26, 14);
}
.data{
    font-size: 18px;
}

.conteiner{
    width: 100%;
    background: url(./img/img_6.jpg) no-repeat;
    background-size:cover;
    background-position: center center; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
}
.conteiner_img{
    width: 300px;
    background-position: center center; 
}
.conteiner_img:hover{
    transform: scale(1.08);
    transition-duration: 1.2s;

}
.card{
    max-width: 300px;
    height: 510px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid  rgb(71, 71, 71);
    box-shadow: 0 10px 20px 0 rgba(14, 53, 14, 0.8);
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    margin: 12px;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px 0 rgba(255, 255, 255, 0.5);
    /* transition-duration: 0.5s; */
}

.circle{
    font-size: 16px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.residents{
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 20px; */

}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

h5{
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 0 15px 15px 0;
    font-family:cursive;
    color: rgb(6, 26, 14);
    font-size: 17px;
   left: -5px;
}
.card__status {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    margin-top: 30px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    left: 5px;
}
.Alive {
	background: #48ff00;
}
.Dead {
	background: #ff0000;
}
.unknown {
	background: #afafaf;
}
.hr_line{
   background-color:rgb(6, 26, 14);
   height: 2px;
   width: 270px;
}

.btnA{
 font-size: 20PX;
 width: 35px;
 color:rgb(16, 133, 168);
}
.btnA:hover{
    transform: scale(1.05);
}

.inputA{
    width: 30px;
    height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:cursive;
    font-size: 18px;
}

.page{
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.text{
    font-family:cursive;
    font-size: 18px;
    margin-right: 7px;
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(199, 201, 202);
    padding-bottom: 3px;   
}
.card_img{
    min-width: 100%;
    height: 280px;
}